@import "../scss/variables";
@import "../scss/mixins";

.GroceryBudBuilder {
  width: 60rem;
  margin: auto;
  padding: 3rem 2rem;
  background-color: $clr-white;
  border-radius: .3rem;
  box-shadow: $light-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  @include respond(tab-port) {
    width: 80%;
  }

  h1 {
    color: $clr-grey-1;
    letter-spacing: .1rem;
    font-size: 2.8rem;
    font-weight: 800;
    text-align: center;
  }

  .Clear {
    font: inherit;
    border: none;
    outline: none;
    font-size: 2rem;
    padding: 0.8rem 1rem;
    color: $clr-black;
    background-color: $clr-red-light;
    border-radius: .5rem;
    letter-spacing: .1rem;
    cursor: pointer;
    transition: all .4s;
  
    &:hover {
      color: $clr-white;
      background-color: $clr-red-dark;
    }
  }

  .Clear:disabled {
    cursor: not-allowed;
    color: $clr-black;
    background-color: $clr-grey-8;
  }
}

