@import "../../scss/variables";

.GroceryItem {
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: .3rem;
  color: $clr-black;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: $clr-grey-10;
  }
}

.GroceryName {
  text-transform: capitalize;
  letter-spacing: .1rem;
  font-size: 2rem;
}

.Edit,
.Remove {
  display: inline-block;
  cursor: pointer;
}

.Edit {
  margin-right: 1rem;
  color: $clr-green-dark;
}

.Remove {
  color: $clr-red-dark;
}